{% extends "layout.html" %}

{% block content %}

    <script src="{{url_for('static', filename='quiz_problem.js')}}"></script>
    <script type="text/javascript">
        var dragItems = {{ drag_items | default({}) | tojson | safe }};
        var dropImage = {{ drop_image | default("") | tojson | safe }};
        var problem = {{ problem | tojson | safe }};
        var problemId = {{ problem_id | tojson | safe }};
        var quizId = {{ id | tojson | safe }};
        var totalProblems = {{ total_problems | tojson | safe }};
        var droppedItems = {};
        var currentDroppedItem = 0;
        var points = 0;
        let cooking_mama = {{cooking_mama|tojson}};
    </script>
      
    <div class="subtitle lilac">Question {{ problem_id }}</div>
    <div class="row" id="questions-container"></div>
    <br>
    <div class="row" id="alternative-container"></div>

{% endblock %}