{% extends "layout.html" %}

{% block content %}

    <script src="{{url_for('static', filename='quiz_score.js')}}"></script>
    <script>
    let score = {{ score|tojson }};
    let quiz_id = {{ id|tojson }};
    let totalProblems = {{ total_problems|tojson }};
    </script>

    <div class="subtitle lilac">Final Score</div>
    <br>
    <div class="subtitle lilac">You got a {{score}}/3!</div>
    <br> 
    <div class = "button-container">
        <button id="recipe-restart-button" class="navbar-link">Review recipe!</button>
    </div>
{% endblock %}